h1 {
  text-align: center;
}

.content h3 {
  text-align: center;
  width: 100%;
}

.content {
  margin: 1rem auto;
  max-width: 50rem;
}

.content button {
  margin: 1rem auto;
  border: none;
  background-color: var(--color-gray-500);
  color: var(--color-gray-900);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
}

.content button:hover,
.content button:active,
.content button.active {
  background-color: var(--color-primary-700);
}
