DB_PORT=5432
DB_HOST=database
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

WEATHER_API_KEY=change_it
WEATHER_API_URL=https://api.openweathermap.org

CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379
